<?xml version="1.0"?>
<launch>
  <!-- INTERNAL ONLY: launched by the exclusive public guard above. -->
  <arg name="guard_token"/>
  <arg name="workspace_bounds_min"/>
  <arg name="workspace_bounds_max"/>
  <arg name="esdf_slice_z_m"/>
  <arg name="mapping_cameras_config"/>
  <arg name="render_camera_name"/>
  <arg name="publish_raw_tsdf_diagnostic"/>
  <arg name="auto_rebuild_on_startup"/>
  <arg name="rs1_extrinsics"/>
  <arg name="rs3_extrinsics"/>
  <arg name="safe_acceptance_manifest"/>
  <arg name="mode"/>
  <arg name="observation_only" default="false"/>
  <arg name="stepwise_capture" default="false"/>
  <arg name="release_bundle" default=""/>
  <arg name="acceptance_public_key" default=""/>
  <arg name="minimum_release_counter" default=""/>
  <arg name="robot_id"/>
  <arg name="vendor_root"/>

  <node pkg="rekpiper_mapping" type="curobo_robot_segmenter_node.py"
        name="curobo_robot_segmenter" output="screen" required="true">
    <param name="robot_config"
           value="$(find rekpiper_mapping)/config/piper_curobo.yml"/>
    <rosparam param="camera_names">[rs1, rs3]</rosparam>
    <param name="distance_threshold_m" value="0.015"/>
    <param name="maximum_joint_state_age_s" value="0.10"/>
  </node>

  <node pkg="rekpiper_mapping" type="nvblox_mapping_node.py"
        ns="/rekpiper" name="mapping" output="screen" required="true">
    <remap from="~safe_status" to="/rekpiper/mapping/raw_safe_status"/>
    <rosparam command="load" file="$(find rekpiper_mapping)/config/nvblox_mapping.yaml"/>
    <param name="nvblox_torch_python_root"
           value="$(arg vendor_root)/nvblox_torch/src"/>
    <param name="target_frame" value="base_link"/>
    <param name="render_camera_name" value="$(arg render_camera_name)"/>
    <param name="publish_raw_tsdf_diagnostic"
           value="$(arg publish_raw_tsdf_diagnostic)"/>
    <param name="safe_supervision_enabled" value="$(eval not arg('observation_only'))"/>
    <param name="observation_only" value="$(arg observation_only)"/>
    <param name="stepwise_capture" value="$(arg stepwise_capture)"/>
    <param name="warmup_frames_per_camera" value="30"/>
    <param name="build_frames_per_camera" value="150"/>
    <param name="minimum_esdf_updates" value="10"/>
    <param name="attached_collision_geometry"
           value="$(find rekpiper_mapping)/config/attached_collision_geometry.yaml"/>
    <param name="safe_acceptance_manifest"
           value="$(arg safe_acceptance_manifest)"/>
    <param name="mode" value="$(arg mode)"/>
    <param name="release_bundle" value="$(arg release_bundle)"/>
    <param name="acceptance_public_key" value="$(arg acceptance_public_key)"/>
    <param name="minimum_release_counter" value="$(arg minimum_release_counter)"/>
    <param name="robot_id" value="$(arg robot_id)"/>
    <param name="auto_rebuild_on_startup"
           value="$(arg auto_rebuild_on_startup)"/>
    <rosparam subst_value="true" param="precision_extrinsics_files">
      - $(arg rs1_extrinsics)
      - $(arg rs3_extrinsics)
    </rosparam>
    <rosparam subst_value="true">
      workspace_bounds_min: $(arg workspace_bounds_min)
      workspace_bounds_max: $(arg workspace_bounds_max)
    </rosparam>
    <param name="require_robot_mask" value="true"/>
    <param name="require_dynamic_mask" value="$(eval not arg('observation_only'))"/>
    <param name="mask_dilation_px" value="0"/>
    <param name="mask_stamp_tolerance_s" value="0.002"/>
    <param name="min_retained_fraction" value="0.05"/>
    <param name="esdf_slice_z_m" value="$(arg esdf_slice_z_m)"/>
    <rosparam command="load" file="$(arg mapping_cameras_config)"/>
  </node>

  <node pkg="rekpiper_mapping" type="safe_mapping_supervisor_node.py"
        name="safe_mapping_supervisor" output="screen" required="true"/>

</launch>
