<launch>
  <arg name="trace_directory" default=""/>
  <arg name="run_directory" default=""/>
  <arg name="joint_state_topic" default="/joint_states_single"/>
  <arg name="robot_description_file" default="$(find piper_description)/urdf/piper_description.urdf"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="tip_frame" default="rekep_tcp"/>
  <arg name="max_interpolation_points" default="35"/>
  <arg name="start_rviz" default="true"/>
  <!-- Preview TF and joint states stay isolated from the real robot. -->
  <group ns="path_solver_preview">
    <param name="robot_description" textfile="$(arg robot_description_file)"/>
    <node pkg="rekpiper_planning" type="path_solver_inspector_node.py" name="inspector" output="screen" required="true">
      <param name="trace_directory" value="$(arg trace_directory)"/>
      <param name="run_directory" value="$(arg run_directory)"/>
      <param name="joint_state_topic" value="$(arg joint_state_topic)"/>
      <param name="base_frame" value="$(arg base_frame)"/>
      <param name="tip_frame" value="$(arg tip_frame)"/>
      <param name="max_interpolation_points" value="$(arg max_interpolation_points)"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <remap from="joint_states" to="inspector/joint_states"/>
      <remap from="/tf" to="/path_solver_preview/tf"/>
      <remap from="/tf_static" to="/path_solver_preview/tf_static"/>
    </node>
    <node if="$(arg start_rviz)" pkg="rviz" type="rviz" name="rviz"
          args="-d $(find rekpiper_planning)/config/path_solver_inspector.rviz -f $(arg base_frame)">
      <!-- This workstation's NVIDIA GL driver crashed rendering marker lists. -->
      <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
      <env name="__GLX_VENDOR_LIBRARY_NAME" value="mesa"/>
      <remap from="/tf" to="/path_solver_preview/tf"/>
      <remap from="/tf_static" to="/path_solver_preview/tf_static"/>
    </node>
  </group>
</launch>
